#      __                      __  ___
#     / /   ____  ____  ____ _/  |/  /__  ____ ___  ____  _______  __
#    / /   / __ \/ __ \/ __ `/ /|_/ / _ \/ __ `__ \/ __ \/ ___/ / / /
#   / /___/ /_/ / / / / /_/ / /  / /  __/ / / / / / /_/ / /  / /_/ /
#  /_____/\____/_/ /_/\__, /_/  /_/\___/_/ /_/ /_/\____/_/   \__, /
#                      /____/                                 /____/
#
#  cavira oss (c) 2026  -  nullure (c) 2026
#  ----------------------------------------------------------
#  file  : .dockerignore
#  usage : supports LongMemory .dockerignore

.git
.github
.longmemory
.next
**/.next
**/dist
**/node_modules
**/*.vsix
**/__pycache__
benchmarks/data
benchmarks/runs
coverage
tmp
.env*
*.db
*.db-*
*.log
